<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="inu" />
  <title>Trancados Alunos</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://kit.fontawesome.com/d8b2664129.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap"
    rel="stylesheet" />
</head>

<body>
  <!-- Header -->
  <div th:replace="fragmentos_pasta/fragmentos :: cabecalho"></div>
  <!-- Fim Header -->
  <section class="neo-section-lista">
    <div class="container" style="margin-top: 100px;">
      <h3>Ultimos alunos Trancados</h3>
      <hr>
      <table class="table thead-light  table-hover ">
        <thead>
          <th scope="col">Nome</th>
          <th scope="col">Curso</th>
          <th scope="col">Matricula</th>
          <th scope="col">Status</th>
          <th scope="col">Turno</th>
          <th scope="col">Ação</th>
        </thead>
        <tbody>
          <tr scope="row" th:each="aluno : ${alunosTrancadosObj}">
            <td th:text="${aluno.nome}"></td>
            <td th:text="${aluno.curso}"></td>
            <td th:text="${aluno.matricula}"></td>
            <td th:text="${aluno.status}"></td>
            <td th:text="${aluno.turno}"></td>

            <td>
              <a class="btn btn-primary" th:href="@{alterar/{id}(id=${aluno.id})}">
                <i class="fas fa-edit"></i>Editar</a>

              <a class="btn btn-danger" th:href="@{excluir/{id}(id=${aluno.id})}">
                <i class="fas fa-times"></i>Excluir</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>



  </section>
  <script src="js/main.js"></script>
  <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>