<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="inu" />
  <title>Cadastro de usuario</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/login.css" />
  <script src="https://kit.fontawesome.com/d8b2664129.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="Login-Form">
    <div class="container">
      <div class="main-div">
        <div class="texto-header">
          <h2>Cadastro de Usuario</h2>
          <p>Crie seu cadastro no sistema</p>
        </div>

        <form method="post" action="/cadastrar-usuario" th:object="${usuario}">
          <div th:if="${emailError}" class="alert alert-warning">
            <p th:text="${emailError}"></p>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" th:field="*{user}" placeholder="digite seu nome de usuario">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" th:field="*{email}" placeholder="digite seu email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" th:field="*{senha}" placeholder="senha">
          </div>

          <button type="submit" class="btn btn-primary m-lg-2 ">Cadastrar</button>
          <a th:href="@{/}"><button type="button" class="btn btn-info">Voltar</button></a>
      </div>
    </div>
  </div>
  </div>
  </form>
  </div>
  </div>
  </div>
</body>

</html>