<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="inu" />
  <title>Projeto Spring</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://kit.fontawesome.com/d8b2664129.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap"
    rel="stylesheet" />
</head>

<body>
  <header th:fragment="cabecalho">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">

      <a class="navbar-brand" th:href="@{/index}">
        <img src="/img/logo.png" alt="" />
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navMobile" class="navbar-collapse collapse justify-content-end">

        <a class="nav-item nav-link" th:href="@{/index}"><i class="fa-solid fa-house"></i> Home</a>
        <a class="nav-item nav-link" th:href="@{/inserirAlunos}"><i class="fa-solid fa-user-graduate"></i> Cadastrar
          Aluno</a>
        <!-- id usa # -->

        <a data-toggle="modal" data-target="#modalPesquisa" class="nav-item nav-link"><i
            class="fa-solid fa-magnifying-glass"></i> Pesquisar Aluno</a>

        <div th:if="${session.usuarioLogado != null}">
          <span class="nav-item nav-link" th:text="${session.usuarioLogado}"></span>
        </div>

        <form action="/logout" method="post">
          <button type="submit" class="nav-item nav-link btn-danger">Sair</button>
        </form>

      </div>
    </nav>
  </header>


  <!-- Inicio Moddal -->
  <div th:fragment="modal">
    <div class="modal fade" id="modalPesquisa">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header ">

            <h5 class="modal-title">Encontre um aluno</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <form method="post" action="pesquisar-aluno" th:object="${aluno}">
            <div class="modal-body">
              <input type="text" th:field="*{nome}" class="form-control " placeholder="Digite o nome do aluno..">
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger " data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-success">Pesquisar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>